.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(329.54deg, #15B6D6 0%, #15D6D6 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.container  .logo01 {
  width: 150px;
}
.container .textLogo {
  width: 260px;
}

.container h3{
  margin-top: 100px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #FFFFFF;
}

.container span{
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #FFFFFF;
}